/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#FFF;
}
/*----start-wrap-----*/
.wrap{
	padding:0px 10px;
}
/*----start-header----*/
.header{
	background:url(../images/header-bg.jpg) no-repeat;
	background-size: 100% 100%;
	min-height: 344px;
}
/*----header-left----*/
/*---header-right----*/
.header-right{
	width: 100%;
	padding-top: 3%;
	text-align: center;
}
.header-right span{
	width:100px;
	height:201px;
	display:block;
	background:url(../images/header-divices.png) no-repeat;
	margin: 0 auto;
	cursor:pointer;
}
.header-right p{
	color: #FFF;
	font-size: 1em;
	text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.59);
	-webkit-text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.59);
	-moz-text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.59);
	-o-text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.59);
	width: 90%;
	line-height: 1.3em;
	margin: 0.5em auto;
}
.bigbtn{
	background: #F12078;
	color: #FFF;
	display: inline-block;
	padding: 0.7em 1.5em;
	font-size: 1em;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	-o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.bigbtn:hover{
	color:#F12078;
	background:#FFF;
}
/*----//End-header----*/
/*---start-get-download----*/
.get-download {
	text-align: center;
}
.get-download p{
	font-size: 1.1em;
	color: #1E1F22;
}
.get-download p span{
	font-weight:600;
}
.downloadbtn{
	background: #F12078;
	color: #FFF;
	display: inline-block;
	padding: 0.4em 0.8em;
	font-size: 0.875em;
	margin: 0 0.5em;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	-o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.55);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.downloadbtn:hover{
	color:#F12078;
	background:#1E1F22;
}
.slogo img{
	vertical-align: middle;
	margin: 0 0.8em;
}
/*---start-divice-fea----*/
.divice-fea {
	margin-top: 1em;
}
.divice-fea-left{
	width:100%;
}
.divice-fea-left label{
	background: url(../images/cs-divices.png) no-repeat;
	height: 229px;
	width: 150px;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.8em;
}
.divice-fea-left-grid h3{
	font-size: 1em;
	color: #2E2E2E;
}
.divice-fea-left-grid h3 span{
	font-weight: 700;
}
.divice-fea-left-grid p{
	color: #5E5E5E;
	line-height: 1.5em;
	font-size: 0.875em;
	margin: 0.5em 0 0.6em 0;
}
/*---//End-divice-fea----*/
/*----start-footer----*/
.footer {
	border-top: 2px solid #2E2E2E;
	padding: 1em 0;
	margin-top: 1.5em;
}
.footer-left{
	text-align:center;
}
.footer-left span{
	color:#F03D87;
}
.footer-left p,.footer-right p{
	font-size:0.875em;
	color:#2E2E2E;
}
.footer-right p a{
	color:#F03D87;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.footer-right p a:hover{
	color:#2E2E2E;
}
.footer-right{
	text-align:center;
	margin:0.5em 0;
}
/*----//End-footer----*/
/*----//End-wrap-----*/
/*----light-box---*/
/*----End-light-box----*/
.pop_up {
	text-align: center;
}
.pop_up h3{
	font-size: 1.2em;
	color: #e9e9e9;
	text-transform: uppercase;
	font-weight: 400;
}
.pop_up ul{
	margin:1em 0;
}
.pop_up ul li{
	display:inline-block;
}
.pop_up ul li a{
	width: 185px;
	height: 53px;
	display:inline-block;
	opacity:0.9;
	transition:0.5 all;
	-webkit-transition:0.5 all;
	-moz-transition:0.5 all;
	-o-transition:0.5 all;
}
.pop_up ul li a:hover{
	opacity:1;
}
.iphone{
	background: url(../images/img-sprit.png) no-repeat 0px -57px;
}
.google{
	background: url(../images/img-sprit.png) no-repeat 0px -4px;
}
/*----//End-wrap-----*/
.box1-info{
	width:100%;
	margin: 1% 0 0 0;
}
.box1{
	background:#F5F5F5;
	padding:20px 0px;
}
.box1-info h3{
	font-family: 'Open Sans', sans-serif;
	color:#2E2E2E;
	font-size: 1.5em;
	padding-bottom: 12px;
}
.box1-info p{
	font-family: 'Open Sans', sans-serif;
	color: #383e48;
	font-size: 0.875em;
	line-height: 1.8em;
}
.box2-demo{
	float:left;
}
.box2-info h3{
	font-family: 'Open Sans', sans-serif;
	color: #383e48;
	font-size: 1.5em;
	padding-bottom: 12px;
}
.box2-info p{
	font-family: 'Open Sans', sans-serif;
	color: #383e48;
	font-size: 0.875em;
	line-height: 1.8em;
}
.box2-info{
	width:100%;
	margin: 1% 0 0 0;
}
.box2 {
	padding: 20px 0px;
}
.get-download1{
	margin:1em 0;
}
.box2-info span, .box1-info span {
	width:80px;
	height: 177px;
	display: block;
	background: url(../images/divices.png) no-repeat;
	margin: 0 auto 2em auto;
}
/*-----share-icons-----*/
.share-icons{
	margin: 15px 0px 0 0;
	text-align: center;
	padding: 00px 0px 1em 0px;
}
.share-icons h3{
	font-family: 'Open Sans', sans-serif;
	color: #383e48;
	font-size:1.8em;
	padding-bottom: 15px;
}
.share-icons p{
	font-family: 'Open Sans', sans-serif;
	color: #383e48;
	font-size: 0.875em;
	line-height: 1.8em;
	padding: 1px 0px 29px 0px;
	margin: 0 auto;
}
.share-icons ul li{
	display:inline-block;
	padding: 0 2px;
}
.share-icons ul li a{
	-webkit-filter: grayscale(100%);
	opacity: 0.4;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
	transition: all 0.3s;
}
.share-icons ul li a:hover{
	opacity: 1;
	-webkit-filter: grayscale(0%);
}
.share-icons span{
	font-family: 'Open Sans', sans-serif;
	color: #383e48;
	font-size: 1em;
	line-height: 1.8em;
	padding: 30px 0px 0px 0px;
	margin: 0 auto;
	text-align: center;
	display: block;
	
}
.share-icons span a{
	color:#FE9623;
	transition: all 0.3s;
}
.share-icons span a:hover{
	color:#383e48;
}
.share-icons li a{
	width: 62px;
	height: 65px;
	display: block;
}
.twitter{
	background:url(../images/big-social-icons.png) no-repeat 0px 0px; 
}
.facebook{
	background: url(../images/big-social-icons.png) no-repeat -66px 0px;
}
.rss{
	background: url(../images/big-social-icons.png) no-repeat -131px 0px;
}
.gpluse{
	background:url(../images/big-social-icons.png) no-repeat -197px 0px; 
}